.filter-card__title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;
}
.filter-card__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.filter-card {
  padding: 20px 24px;
}

.portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.thumb {
  position: relative;
  overflow: hidden;
  color: $white-color;
}

.thumb__overlay {
  top: 0;
  left: 0;
  position: absolute;
  padding: 71px 24px 55px 24px;
  width: 100%;
  height: 100%;
  /*opacity: 1;*/
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $white-color;
  .portfolio-list__item:hover & {
    transform: translateY(0);
  }
  .portfolio-list__item:hover &,
  .portfolio-list__item a:focus & {
    opacity: 1;
  }
}

.button-list {
  justify-content: center;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-list {
  padding-bottom: 94px;
}
