.business {
  display: flex;
}
.business .business__list + .business__list {
  margin-left: 30px;
}
.business__link {
  position: relative;
}

.business__link img {
  display: block;
}

.business__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 27px 0 27px 0;
}

.business__title h3 {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;
}
